<h1>New Card</h1>

<form id="new-card" name="card">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" />
  </div>

  <div class="actions">
    <input type="submit" value="Create Card" />
  </div>

</form>

<a href="#/index">Back</a>

