/.bundle
/log/*.log
/tmp
.ruby-version
.ruby-gemset
/spec/tmp
public/assets/*

# Ignore application configuration
application.yml
mongoid.yml

# Ignore bower and npm dev tools
bower_components
node_modules
