<div ng-include="'views/partials/header.html'"></div>
<div ng-include='"views/partials/breadcrumbs.html"'></div>

<div class='barrier' ng-controller='BarrierDetailCtrl'>
  <div class='title'>{{ barrier.title }}</div>
  
  <!-- <div class='raw'>{{ barrier }}</div> -->
  
  <div class='table'>
    <div class='row' ng-repeat='context in barrier.contexts'>
      <div class='col-md-3'>
        <a href='#/contexts/{{ context["context"].id_to_s }}'>{{ context['context'].title }}</a>
      </div>
    </div>
  </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>
