<div class='panel panel-default'>
  <div class='panel-heading'>Bridges</div>
  <!-- <div class='panel-body'></div> -->
  <ul class='list-group'>
    <% bridges.each do |bridge| %>
      <li class='list-group-item'>
        <%= link_to 'Edit', edit_admin_topic_bridge_path(topic, bridge), {class: 'btn btn-default btn-sm'} %>          
        <%= link_to 'Delete', [:admin, topic, bridge], {class: 'btn btn-default btn-sm', method: :delete, "data-confirm" => 'Are you sure?' } %>    
        <%= bridge.content %>
      </li>
    <% end %>
    <li class='list-group-item'>
      <%= button_to 'New Bridge', new_admin_topic_bridge_path(topic), {method: :get, class: 'btn btn-success btn-sm'} %>
    </li>
  </ul>
</div>
