<div class='panel panel-default'>
  <div class='panel-heading'>Links</div>
  <!-- <div class='panel-body'></div> -->
  <ul class='list-group'>
    <% links.each do |link| %>
      <li class='list-group-item'>
        <span class="label label-info"><%= link.kind %></span>&nbsp;&nbsp;<%= link.content %>
      </li>
    <% end %>
    <li class='list-group-item'>
      <%= button_to 'New Link', new_admin_topic_link_path(topic), {method: :get, class: 'btn btn-success btn-sm'} %>
    </li>
  </ul>
</div>
