<div class='panel panel-default'>
  <div class='panel-heading'>Questions</div>
  <!-- <div class='panel-body'></div> -->
  <ul class='list-group'>
    <% questions.each do |question| %>
      <li class='list-group-item'>
        <%= link_to 'Go To', admin_topic_question_path(topic, question), {class: 'btn btn-default btn-sm'} %>
        <%= link_to 'Delete', [:admin, topic, question], {class: 'btn btn-default btn-sm', method: :delete, "data-confirm" => 'Are you sure?' } %>&nbsp;
        <%= question.content %>
      </li>
    <% end %>
    <li class='list-group-item'>
      <%= button_to 'New Question', new_admin_topic_question_path(topic), {method: :get, class: 'btn btn-success btn-sm'} %>
    </li>
  </ul>
</div>
