<h1>Barriers</h1>

<table>
    <% @barriers.map do |b| %>
      <tr>
        <td>
          <%= link_to b.title, barrier_path(b), class: 'ma-link' %>
        </td>
      </tr>
    <% end %>
</table>

