<div class="box draggable">
  <div class="panel panel-default" data-context="<%= response.context %>">
    <div class="panel-heading">
      <b>Title:&nbsp;</b><%= response.title %>
    </div>
    <div class="panel-body">
      <p><b>Content:&nbsp;</b><%= response.content %></p>
    </div>
  </div>
</div>
