<div class="box draggable">
  <div class="panel panel-default" data-context="<%= direction.context %>">
    <div class="panel-heading">
      <b>Approach:&nbsp;</b><%= direction.approach %>
    </div>
    <div class="panel-body">
      <p><b>Content:&nbsp;</b><%= direction.content %></p>
    </div>
  </div>
</div>
