<p>
  <strong>Topic:</strong>
  <%= @question.topic.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.content %>
</p>

<%= link_to 'Edit Question', edit_admin_topic_question_path(@topic, @question), { class: 'ma-link' }%>
<%= link_to 'Back', admin_topic_questions_path(@topic), { class: 'ma-link' } %>

<br />
<br />

<div>
  <p>response</p>
</div>

<div>
  <p>direction</p>
</div>

<div>
  <p>transition</p>
</div>

<div>
  <p>topic end location</p>
</div>
