<script type="text/javascript">

  $(document).ready( function(){
    var cards = <%= (Rabl::Renderer.json(@cards, 'admin/cards/index', view_path: 'app/views')).html_safe -%>;
    new Varkek.Admin.Routers.CardsRouter({ cards: cards });
    Backbone.history.start();
  });

</script>

<div id="cards"></div>
